.btn {
    padding: .5rem 1rem;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(75, 75, 205);
    color: #fff;
}